[submodule "Groupwork_3"]
	path = Groupwork_3
	url = https://github.com/Sharkthoven/INT203_62130500068_Groupwork_3
[submodule "Groupwork_4"]
	path = Groupwork_4
	url = https://github.com/Sharkthoven/INT203_62130500068_Groupwork_4
[submodule "Groupwork_5"]
	path = Groupwork_5
	url = https://github.com/Sharkthoven/INT203_62130500068_Groupwork_5
[submodule "Groupwork_6"]
	path = Groupwork_6
	url = https://github.com/Sharkthoven/INT203_62130500068_Groupwork_6.git
[submodule "Groupwork_Mockup"]
	path = INT203_62130500068_Groupwork_SPA
	url = https://github.com/Sharkthoven/INT203_62130500068_Groupwork_SPA.git
