[submodule "Groupwork_3"]
	path = Groupwork_3
	url = https://github.com/Sharkthoven/INT203_62130500068_Groupwork_3
[submodule "Groupwork_4"]
	path = Groupwork_4
	url = https://github.com/Sharkthoven/INT203_62130500068_Groupwork_4
[submodule "Groupwork_5"]
	path = Groupwork_5
	url = https://github.com/Sharkthoven/INT203_62130500068_Groupwork_5
